/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@keyframes yourAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  background-color: #E8E7E5;
}
@media (max-width: 500px) {
  body {
    background-color: white;
  }
}
h1 {
  font-size: 6.5rem;
  font-weight: bold;
  text-decoration-line: underline;
  font-family: 'Times New Roman', Times, serif;
  animation: yourAnimation 3s forwards 0s ease-in;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 100%;
  margin: 0 auto;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border: 1px solid black;
  width: 100%;
  background-image: url("/img/blue-water.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
@media (max-width: 500px) {
  .banner {
    height: 150px;
  }
}
.banner h1 {
  margin-bottom: 150px;
}
@media (max-width: 800px) {
  .banner h1 {
    font-size: 5rem;
  }
}
@media (max-width: 500px) {
  .banner h1 {
    font-size: 2.5rem;
  }
}
.container .bg-main {
  margin-top: 40px;
  background-color: #E8E7E5;
}
@media (max-width: 500px) {
  .container .bg-main {
    background-color: white;
  }
}
.container #services {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 30px;
  width: 100%;
}
@media (max-width: 500px) {
  .container #services {
    padding-bottom: 0px;
  }
}
.container #services h2 {
  margin-right: 2%;
  font-size: 4rem;
  font-weight: bold;
  text-decoration-line: underline;
}
@media (max-width: 800px) {
  .container #services h2 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .container #services h2 {
    font-size: 3rem;
  }
}
.container .services-grid {
  min-height: 100vh;
  display: flex;
  height: auto;
  text-decoration-line: underline;
  padding: 3%;
}
.container .services-grid .img-services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding-right: 5%;
}
.container .services-grid .img-services img {
  border: 3px solid black;
  width: 50%;
  height: auto;
}
@media (max-width: 500px) {
  .container .services-grid .img-services img {
    width: 90%;
    border: none;
    padding-right: 0px;
  }
}
.container .services-grid .img-services h3 {
  margin: 20px;
}
@media (max-width: 500px) {
  .container .services-grid .img-services h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .container .services-grid .img-services {
    margin-top: 40px;
    padding-right: 0;
    margin-bottom: 31px;
  }
}
.container .services-grid h3 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.container .services-grid ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-right: 5%;
}
@media (max-width: 500px) {
  .container .services-grid ul {
    border: 2px solid black;
    padding-right: 0;
    margin-bottom: 30px;
  }
}
.container .services-grid ul li {
  margin: 1%;
  font-size: 1.8rem;
  text-decoration-line: underline;
  line-height: 1.5;
}
@media (max-width: 500px) {
  .container .services-grid {
    flex-direction: column;
  }
}
.container .quote {
  height: 200px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .quote h2 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
@media (max-width: 500px) {
  .container .quote h2 {
    font-size: 3rem;
    text-align: center;
    padding: 2%;
  }
}
.container #about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-image: url(/img/white-plant.jpeg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.container #about h3 {
  text-align: center;
  text-decoration-line: underline;
  font-size: 4rem;
  font-weight: bold;
  margin: 40px 0 40px 0;
}
@media (max-width: 500px) {
  .container #about h3 {
    margin-bottom: 20px;
    width: 100%;
  }
}
.container #about p {
  align-self: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 5%;
  margin-bottom: 40px;
  width: 50%;
}
@media (max-width: 500px) {
  .container #about p {
    width: 100%;
  }
}
.container .white-plant {
  width: 100%;
  height: 800px;
  margin-top: 50px;
}
@media (max-width: 500px) {
  .container .white-plant {
    height: 300px;
  }
}
.container #contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.container #contact h3 {
  color: white;
  text-align: center;
  text-decoration-line: underline;
  font-weight: bold;
  margin: 50px 0 20px 0;
}
@media (max-width: 500px) {
  .container #contact h3 {
    font-size: 2.5rem;
  }
}
.container #contact address {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.5;
}
@media (max-width: 500px) {
  .container #contact address {
    font-size: 1.6rem;
  }
}
.container #contact address a {
  color: white;
  text-decoration-line: none;
}
.ny-img {
  display: flex;
  max-width: 100%;
  min-height: 100vh;
}
@media (max-width: 800px) {
  .ny-img {
    display: none;
  }
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 30px 0 30px 0;
  background-color: black;
}
@media (max-width: 500px) {
  footer {
    border-top: 2px solid white;
  }
}
footer a {
  font-size: 3rem;
  margin-left: 2%;
  color: white;
  text-decoration-line: none;
}
footer a:hover {
  color: blue;
}
@media (max-width: 500px) {
  footer a {
    font-size: 2.5rem;
  }
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  max-width: 100%;
  height: 60px;
}
header img {
  margin-left: 5%;
  width: 200px;
  height: auto;
  color: white;
  margin-top: 20px;
}
@media (max-width: 800px) {
  header img {
    width: 200px;
    margin-right: 20%;
  }
}
@media (max-width: 500px) {
  header img {
    width: 150px;
    margin-right: 3%;
  }
}
header nav {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 5%;
}
@media (max-width: 800px) {
  header nav {
    max-width: 50%;
    margin-right: 30%;
  }
}
@media (max-width: 500px) {
  header nav {
    margin-right: 30%;
  }
}
header nav a {
  font-weight: bold;
  font-size: 2rem;
  text-decoration-line: none;
  color: white;
  width: 100%;
  margin-right: 25%;
  white-space: nowrap;
}
header nav a:hover {
  color: blue;
}
@media (max-width: 800px) {
  header nav a {
    max-width: 50%;
    padding-right: 10%;
  }
}
@media (max-width: 500px) {
  header nav a {
    font-size: 1.6rem;
    padding-right: 5%;
    margin-right: 5%;
  }
}
@media (max-width: 800px) {
  header {
    justify-content: center;
  }
}
