.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border: 1px solid black;
  width: 100%;
  height: 300px;
  background-image: url("/img/blue-sky.jpeg");
  //background-size: 100% 100%;
  background-size: cover;
  background-position: center;
}

.container {
  border: 1px solid red;
  height: 1000px;

  .services {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 30px;
    width: 75%;
    margin-left: 13%;
    border-bottom: 2px solid black;

    h2 {
        font-weight: bold;
    }

  }

  .services-grid {
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
      height: 300px;
      border: 1px solid black;
      text-decoration-line: underline;
      font-weight: 500;
  }

}
