.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border: 1px solid black;
  width: 100%;
  height: 300px;
  background-image: url("/img/blue-sky.jpeg");
  //background-size: 100% 100%;
  background-size: cover;
  background-position: center;
}

.container {
  height: 1000px;

  .bg-main {
    margin-top: 40px;
    background-color: rgb(231, 229, 229);
    border: 2px solid black;
  }

  .services {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 30px;
    width: 100%;

    h2 {
      font-size: 4rem;
      font-weight: bold;
    }
  }

  .services-grid {
    display: flex;
    height: auto;
    text-decoration-line: underline;
    padding: 3%;
    //border: 1.5px solid black;

    .img-services {
      display: flex;
      justify-content:  center;
      flex-direction: column;
      width: 100%;
      height: auto;
      padding-right: 5%;

      h3 {
        margin: 20px;
      }
    }

    img {
      border: 2px solid black;
      width: 100%;
      height: auto;
    }

    h3 {
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
    }

    ul {
      display: flex;
      align-items: center;
      flex-direction: column;

      li {
        margin: 1%;
        font-size: 1.8rem;
        text-decoration-line: underline;
      }
    }
  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  

  p {
    margin-right: 2%;
    color: white;
  }
}
